.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 340px;
  width: 100%;
  background-color: white;
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
  background-image: linear-gradient(315deg, #eeeeee 0%, #bdbdbd 74%);
  background-position: center;
}

.hero__h1 {
  padding: 20px;
  padding-top: 0;
  margin: 20px;
  margin-top: 0;
  font-size: 48px;
}

.hero__p {
  font-size: 24px;
  margin-top: 0;
}

.hero__button {
  padding: 10px 20px;
  margin: 20px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background: #efefef;
  cursor: pointer;
}

.hero__button:active,
.hero__button:focus {
  outline: none;
}
