.hamburger {
  width: 30px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* margin-right: 0px; */
  cursor: pointer;
}

.hamburger-bar {
  width: 27px;
  height: 2px;
  background-color: silver;
  /* background-color: #74b9ff; */
  margin: 3px 2px;
  transition: 0.4s;
}

@media screen and (max-width: 800px) {
  .hamburger {
    align-items: flex-start;
  }
}
