.footer {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  min-height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__inner {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.footer__title {
  color: white;
  display: block;
  margin-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  /* border-top-left-radius: 25px;
  border-top-right-radius: 25px; */
  /* text-decoration-line: underline;
  text-decoration-style: wavy; */
  /* background-image: linear-gradient(to bottom, gray 80%, mediumspringgreen 20%); */
}

.footer__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  margin: 20px;
  padding-top: 20px;
  grid-gap: 20px;
}

.footer__link {
  color: white;
  text-align: left;
  display: block;
  margin-top: 4px;
  line-height: 1.4rem;
  text-decoration: none;
  cursor: pointer;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__author {
  font-size: 14px;
  color: white;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: 1px solid #e0e0e0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__author p {
  margin: 4px;
}

@media screen and (max-width: 1200px) {
  .footer__inner {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 600px) {
  .footer__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 350px) {
  .footer__grid {
    grid-template-columns: 1fr;
  }
}
