.footer {
  background-color: gray;
  width: 100%;
  min-height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__inner {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
  background-color: paleturquoise;
  color: black;
}

.footer__title {
  color: black;
  display: block;
  margin-top: 4px;
  border-bottom: 1px solid #e0e0e0;
}

.footer__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  margin: 20px;
  padding-top: 20px;
  grid-gap: 20px;
}

.footer__link {
  color: black;
  text-align: left;
  display: block;
  margin-top: 4px;
  line-height: 1.4rem;
}

.footer__link:hover {
  color: blue;
}

.footer__author {
  font-size: 14px;
  color: black;
  width: 100%;
  padding-top: 30px;
  border-top: 1px solid #e0e0e0;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .footer__inner {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 600px) {
  .footer__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 350px) {
  .footer__grid {
    grid-template-columns: 1fr;
  }
}
